// Breakpoints

// Responsive Breakpoints

// @include break($input)
//
// By Number: 1, 2, 3, 4, 5, 6, 7
// By Grid cols: col-sm, col-md, col-lg
// By Display: xsmall(xs), small(sm), medium(md), large(lg), xlarge(xl)
// By Device: mobile, tablet, desktop, tv
// By Retina/HD Device: retina, hd
//
// i.e. break(col-sm)
// i.e. break(col-sm only)
// i.e. break(col-sm down)

@mixin break($input: null) {

	$mq-prefix: null !default;
	$mq-suffix: null !default;
	$firstval: nth($input, 1) !default;
	$breakpoint-default-units: map-get($breakpoints, default-units);

	@if contains($input, print) == true {
		@media #{$print} { @content };
	}

	@else if contains($input, col-sm) == true {
		@if contains($input, only) == true {
			@media #{$col-sm-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$col-sm-down} { @content };
		} @else {
			@media #{$col-sm} { @content };
		}
	}
	@else if contains($input, col-md) == true {
		@if contains($input, only) == true {
			@media #{$col-md-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$col-md-down} { @content };
		} @else {
			@media #{$col-md} { @content };
		}
	}
	@else if contains($input, col-lg) == true {
		@if contains($input, only) == true {
			@media #{$col-lg-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$col-lg-down} { @content };
		} @else {
			@media #{$col-lg} { @content };
		}
	}

	@else if ( contains($input, xs) == true ) or ( contains($input, xsmall) == true ) {
		@if contains($input, only) == true {
			@media #{$xsmall-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$xsmall-down} { @content };
		} @else {
			@media #{$xsmall} { @content };
		}
	}
	@else if ( contains($input, sm) == true ) or ( contains($input, small) == true ) {
		@if contains($input, only) == true {
			@media #{$small-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$small-down} { @content };
		} @else {
			@media #{$small} { @content };
		}
	}
	@else if ( contains($input, md) == tru ) or ( contains($input, medium) == true ) {
		@if contains($input, only) == true {
			@media #{$medium-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$medium-down} { @content };
		} @else {
			@media #{$medium} { @content };
		}
	}
	@else if ( contains($input, lg) == true ) or ( contains($input, large) == true ) {
		@if contains($input, only) == true {
			@media #{$large-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$large-down} { @content };
		} @else {
			@media #{$large} { @content };
		}
	}
	@else if ( contains($input, xl) == true ) or ( contains($input, xlarge) == true ) {
		@if contains($input, only) == true {
			@media #{$xlarge-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$xlarge-down} { @content };
		} @else {
			@media #{$xlarge} { @content };
		}
	}

	@else if contains($input, mobile) == true {
		@if contains($input, only) == true {
			@media #{$mobile-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$mobile-down} { @content };
		} @else if contains($input, portrait) == true {
			@media #{$mobile-portrait} { @content };
		} @else if contains($input, landscape) == true {
			@media #{$mobile-landscape} { @content };
		} @else {
			@media #{$mobile} { @content };
		}
	}
	@else if contains($input, tablet) == true {
		@if contains($input, only) == true {
			@media #{$tablet-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$tablet-down} { @content };
		} @else if contains($input, portrait) == true {
			@media #{$tablet-portrait} { @content };
		} @else if contains($input, landscape) == true {
			@media #{$tablet-landscape} { @content };
		} @else {
			@media #{$tablet} { @content };
		}
	}
	@else if contains($input, desktop) == true {
		@if contains($input, only) == true {
			@media #{$desktop-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$desktop-down} { @content };
		} @else {
			@media #{$desktop} { @content };
		}
	}
	@else if contains($input, tv) == true {
		@if contains($input, only) == true {
			@media #{$tv-only} { @content };
		} @else if contains($input, down) == true {
			@media #{$tv-down} { @content };
		} @else {
			@media #{$tv} { @content };
		}
	}

	@else if contains($input, 1) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-1-down} { @content };
		} @else {
			@media #{$breakpoint-1} { @content };
		}
	}
	@else if contains($input, 2) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-2-down} { @content };
		} @else {
			@media #{$breakpoint-2} { @content };
		}
	}
	@else if contains($input, 3) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-3-down} { @content };
		} @else {
			@media #{$breakpoint-3} { @content };
		}
	}
	@else if contains($input, 4) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-4-down} { @content };
		} @else {
			@media #{$breakpoint-4} { @content };
		}
	}
	@else if contains($input, 5) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-5-down} { @content };
		} @else {
			@media #{$breakpoint-5} { @content };
		}
	}
	@else if contains($input, 6) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-6-down} { @content };
		} @else {
			@media #{$breakpoint-6} { @content };
		}
	}
	@else if contains($input, 7) == true {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			@media #{$breakpoint-7-down} { @content };
		} @else {
			@media #{$breakpoint-7} { @content };
		}
	}

	@else if ( contains($input, retina) == true ) or ( contains($input, hd) == true ) {
			@media #{$retina} { @content };
	}

	@else if contains($input, portrait) == true {
			@media #{$portrait} { @content };
	}
	@else if contains($input, landscape) == true {
			@media #{$landscape} { @content };
	}
	@else if contains($input, to) == true {
		$minval: nth($bp-list, 1);
		$maxval: nth($bp-list, 3);
		@if type-of($minval) == number {
			@if unitless($minval) == true { $minval: $minval + '#{$breakpoint-default-units}'; }
		}
		@if type-of($maxval) == number {
			@if unitless($maxval) == true { $maxval: $maxval + '#{$breakpoint-default-units}'; }
		}
		$mq-prefix: '#{$screen} and (min-width:#{$minval})';
		$mq-suffix: 'and (max-width:#{$maxval})';
		@media #{$mq-prefix}#{$mq-suffix} { @content };
	}
	@else if type-of($firstval) == number {
		@if ( contains($input, only) == true ) or ( contains($input, down) == true ) {
			$mq-prefix: '#{$screen} and (max-width:#{$firstval})';
		} @else {
			$mq-prefix: '#{$screen} and (min-width:#{$firstval})';
		}
		@media #{$mq-prefix} { @content };
	} @else { @warn 'Unknown Input for break() Mixin: #{$input}'; }
}
