// Swatches
$color--swatch: (

	// Swatches

	1:   cast(charcoal),
	2:   cast(citrine),

	11:  cast(cobalt),

	// Accent Swatches

	101: cast('canary yellow'),
	102: cast(goldenrod),

	// Background Swatches

	501: cast('baby powder'),
	502: cast(onyx),

) !default;

// Theme Colors
$color--theme: (

	// Color Filtering
	// Note: These settings adjust which color is mixed with darker colors above
	// 500 weight (shade) and lighter colors below 500 weight (tint) as well as a
	// setting for adjusting all exact 500 weight (neutral) colors in general.

	filter: (
		neutral: null,
		tint:    cast(white),
		shade:   cast(black),
	),

	// Body
	body: (
		bg:         swatch(501),
		link: (
			idle:     swatch(11),
			hover:    cast(swatch(11) 475),
			press:    cast(swatch(11) 450),
		),
		text:       cast(dark),
		title:      cast(dark),
	),

	// Buttons
	button: (
		all: (
			bg:       cast(dark 90%),
			text:     cast(light),
		),
		1: (
			accent:   swatch(101),
			bg:       swatch(1),
			text:     cast(light),
		),
		2: (
			accent:   swatch(2),
			bg:       cast(grey 250),
			text:     cast(dark),
		),
	),

	// Containers
	container: (
		bg:         null,
		text:       null,
	),

	// Footer
	footer: (
		bg:         cast(dark 25%),
		link: (
			idle:     cast(light),
			hover:    cast(light secondary),
			press:    null,
		),
		text:       cast(light secondary),
	),

	// Header
	header: (
		bg:         scheme(502),
		text:       cast(light),
	),

	// Navigation
	nav: (
		link: (
			idle:     null,
			hover:    null,
			press:    null,
		),
	),

) !default;
