$setFonts: (
  font: (
    stack: (
      1: $font_stack_1,
      2: $font_stack_2,
      3: $font_stack_3,
      code: (
        monospace,
        monospace
      ),
      material: (
        Roboto,
        Noto,
        Helvetica,
        Arial,
        sans-serif
      ),
      system: (
        system-ui,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol"
      )
    )
  ),
  type: (
    html: $html_font_size,
    flow: $type_flow,
    script: $type_script,
    body: (
      1: (
        size: $body_font_size,
        leading: $body_line_height,
        tracking: $body_letter_spacing,
        weight: $body_font_weight
      )
    ),
    caption: (
      1: (
        size: $caption_font_size,
        leading: $caption_line_height,
        tracking: $caption_letter_spacing,
        weight: $caption_font_weight
      )
    ),
    subheading: (
      1: (
        size: $subheading_font_size,
        leading: $subheading_line_height,
        tracking: $subheading_letter_spacing,
        weight: $subheading_font_weight
      )
    ),
    title: (
      1: (
        size: $title_1_font_size,
        leading: $title_1_line_height,
        tracking: $title_1_letter_spacing,
        weight: $title_1_font_weight
      ),
      2: (
        size: $title_2_font_size,
        leading: $title_2_line_height,
        tracking: $title_2_letter_spacing,
        weight: $title_2_font_weight
      ),
      3: (
        size: $title_3_font_size,
        leading: $title_3_line_height,
        tracking: $title_3_letter_spacing,
        weight: $title_3_font_weight
      ),
      4: (
        size: $title_4_font_size,
        leading: $title_4_line_height,
        tracking: $title_4_letter_spacing,
        weight: $title_4_font_weight
      ),
      5: (
        size: $title_5_font_size,
        leading: $title_5_line_height,
        tracking: $title_5_letter_spacing,
        weight: $title_5_font_weight
      ),
      6: (
        size: $title_6_font_size,
        leading: $title_6_line_height,
        tracking: $title_6_letter_spacing,
        weight: $title_6_font_weight
      )
    )
  )
);
$fether: map-merge($fether, $setFonts);
