$theme_light: #fff !default;
$theme_dark: #000 !default;

$filter_color: null !default;
// $filter_color will be mixed with every cast() color by the mix amount specified
$filter_color_mix: 50% !default;
// $filter_color_mix is only used if $filter_color is set

$filter_tint_color: #fff !default;
$filter_shade_color: #000 !default;
// tint/shade filters are used for cast() color weights above/below 500

$opacity_default: 100% !default;
$opacity_disabled: 44% !default;
$opacity_divider: 12% !default;
$opacity_hint: 44% !default;
$opacity_inactive: 28% !default;
$opacity_secondary: 62% !default;

$opacity_dark_default: 87% !default;
$opacity_dark_disabled: 38% !default;
$opacity_dark_divider: 12% !default;
$opacity_dark_hint: 38% !default;
$opacity_dark_inactive: 26% !default;
$opacity_dark_secondary: 54% !default;

$opacity_light_default: 100% !default;
$opacity_light_disabled: 50% !default;
$opacity_light_divider: 12% !default;
$opacity_light_hint: 50% !default;
$opacity_light_inactive: 30% !default;
$opacity_light_secondary: 70% !default;

// 'filter' settings adjust which color is mixed with darker colors above
// 500 weight (shade) and lighter colors below 500 weight (tint) as well
// as a setting for adjusting all exact 500 weight colors in general for
// quickly and easily changing the feel or vibrance of an entire theme.

// 'filter.amount' is only used if there is a color set to 'filter.default'
// and determines how much of the filter color is mixed into the 500 weight colors.

$setPalette: (
  color: (
    theme: (
      light: $theme_light,
      dark: $theme_dark
    ),
    filter: (
      default: $filter_color,
      amount: $filter_color_mix,
      tint: $filter_tint_color,
      shade: $filter_shade_color
    ),
    opacity: (
      default: (
        default: $opacity_default,
        disabled: $opacity_disabled,
        divider: $opacity_divider,
        hint: $opacity_hint,
        inactive: $opacity_inactive,
        secondary: $opacity_secondary
      ),
      dark: (
        default: $opacity_dark_default,
        disabled: $opacity_dark_disabled,
        divider: $opacity_dark_divider,
        hint: $opacity_dark_hint,
        inactive: $opacity_dark_inactive,
        secondary: $opacity_dark_secondary
      ),
      light: (
        default: $opacity_light_default,
        disabled: $opacity_light_disabled,
        divider: $opacity_light_divider,
        hint: $opacity_light_hint,
        inactive: $opacity_light_inactive,
        secondary: $opacity_light_secondary
      )
    ),
    palette: (
      greyscale: (
        "black": #000,
        "off black": #0f0f0f,
        "eerie black": #1b1b1b,
        "jet": #343434,
        "davy grey": #555,
        "grey": #9e9e9e,
        "silver": #c0c0c0,
        "very light grey": #cdcdcd,
        "light grey": #d3d3d3,
        "gainsboro": #dcdcdc,
        "white smoke": #f5f5f5,
        "off white": #fdfdfd,
        "white": #fff
      ),
      black-ish: (
        "pthalo green": #123524,
        "leather jacket": #253529,
        "licorice": #1a1110,
        "raisin black": #242124,
        "onyx": #353839,
        "black olive": #3b3c36
      ),
      white-ish: (
        "celeste": #b2ffff,
        "timberwolf": #dbd7d2,
        "bone": #e3dac9,
        "eggroll": #f0ead6,
        "azure mist": #f0ffff,
        "mint cream": #f5fffa,
        "antique white": #faebd7,
        "linen": #faf0e6,
        "baby powder": #fefefa,
        "misty rose": #ffe4e1,
        "navajo white": #ffdead,
        "old lace": #fff7ea
      ),
      red: (
        "snow": #fffafa,
        "baby pink": #f4c2c2,
        "pastel red": #ff6961,
        "indian red": #ff5c5c,
        "ferrari red": #ff1c00,
        "candy apple red": #ff0800,
        "fether red": #f44336,
        "red": #ff0000,
        "chestnut": #cd5c5c,
        "cinnabar": #e34234,
        "jasper": #d73b3e,
        "fire engine red": #ce1620,
        "boston university red": #cc0000,
        "firebrick": #b22222,
        "cornell red": #b31b1b,
        "maroon": #800000,
        "prune": #701c1c,
        "seal brown": #321414,
        "bulgarian rose": #480607,
        "caput mortuum": #592720,
        "cg red": #e03c31,
        "cinerous": #98817b,
        "crimson red": #990000,
        "french beige": #a67b5b,
        "red brown": #a52a2a,
        "red-brown": #a52a2a,
        "rosy brown": #bc8f8f,
        "saddle brown": #8b4513,
        "scarlet": #ff2400,
        "sienna": #882d17,
        "tomato": #ff6347
      ),
      red-orange: (
        "atomic tangerine": #ff9966,
        "salmon": #ff8c69,
        "coral": #ff7f50,
        "burnt sienna": #e97451,
        "portland orange": #ff5a36,
        "terra cotta": #e2725b,
        "coquelicot": #ff3800,
        "flame": #e25822,
        "cinereous": #98817b,
        "sinopia": #cb410b,
        "dark pastel red": #c23b22,
        "mahogany": #c04000,
        "rust": #b7410e,
        "bole": #79443b,
        "burnt umber": #8a3324,
        "auburn": #6d351a,
        "antique brass": #cd9575,
        "beaver": #9f8170,
        "camel": #c19a6b,
        "bisque": #ffe4c4,
        "bittersweet": #fe6f53,
        "cafe au lait": #a67b5b,
        "cafe noir": #4b3621,
        "fieldspar": #d19275,
        "flesh": #f5ccb0,
        "golden poppy": #fcc200,
        "olive drab": #6b8e23,
        "orange red": #ff4500,
        "raw sienna": #d68a59,
        "tan": #d2b48c,
        "taupe": #483c32,
        "umber": #635147,
        "yellow orange": #ffae42,
        "yellow-orange": #ffae42,
        "semi sweet chocolate": #6b4226,
        "semi-sweet chocolate": #6b4226
      ),
      orange-brown: (
        "seashell": #fff5ee,
        "champagne": #f7e7ce,
        "peach": #ffe5b4,
        "wheat": #f5deb3,
        "sunset": #fad6a5,
        "apricot": #fbceb1,
        "desert sand": #edc9af,
        "pastel orange": #ffb347,
        "burlywood": #deb887,
        "chrome yellow": #ffa700,
        "fawn": #e5aa70,
        "earth yellow": #e1a95f,
        "indian yellow": #e3a857,
        "khaki": #c3b091,
        "gamboge": #e49b0f,
        "carrot orange": #ed9121,
        "fether orange": #ff9800,
        "orange": #ff7f00,
        "tangerine": #f28500,
        "cadmium orange": #ed872d,
        "pumpkin": #ff7518,
        "desert": #c19a6b,
        "safety orange": #ff6700,
        "bronze": #cd7f32,
        "ochre": #cc7722,
        "cinnamon": #d2691e,
        "copper": #b87333,
        "chamoisee": #a0785a,
        "burnt orange": #cc5500,
        "shadow": #8a795d,
        "golden brown": #996515,
        "pastel brown": #836953,
        "raw umber": #826644,
        "fether brown": #795548,
        "brown": #964b00,
        "chocolate": #7b3f00,
        "sepia": #704214,
        "bistre": #3d2b1f
      ),
      orange-yellow: (
        "cornsilk": #fff8dc,
        "blond": #faf0be,
        "pearl": #f0ead6,
        "platinum": #e5e4e2,
        "vanilla": #f3e5ab,
        "mustard": #ffdb58,
        "buff": #f0dc82,
        "banana yellow": #ffd12a,
        "arylide yellow": #e9d66b,
        "saffron": #f4c430,
        "amber": #ffbf00,
        "pastel grey": #cfcfc4,
        "sand": #c2b280,
        "goldenrod": #daa520,
        "sand dune": #967117
      ),
      yellow: (
        "ivory": #fffff0,
        "cream": #fffdd0,
        "cadmium yellow": #fff600,
        "pastel yellow": #fdfd96,
        "aureolin": #fdee00,
        "beige": #f5f5dc,
        "daffodil": #ffff31,
        "fether yellow": #ffeb3b,
        "yellow": #ffff00,
        "icterine": #fcf75e,
        "lemon": #fff700,
        "canary yellow": #ffef00,
        "flavescent": #f7e98e,
        "corn": #fbec5d,
        "moccasin": #ffe4b5,
        "golden yellow": #ffdf00,
        "titanium yellow": #eee600,
        "flax": #eedc82,
        "dandelion": #f0e130,
        "peridot": #e6e200,
        "straw": #e4d96f,
        "sandstorm": #ecd540,
        "pastel gray": #cfcfc4,
        "citrine": #e4d00a,
        "brass": #b5a642
      ),
      yellow-green: (
        "green yellow": #adff2f,
        "green-yellow": #adff2f,
        "chartreuse": #dfff00,
        "fether lime": #cddc39,
        "lime": #bfff00,
        "spring bud": #a7fc00,
        "pear": #d1e231,
        "android green": #a4c639,
        "yellow green": #9acd32,
        "yellow-green": #9acd32,
        "mint green": #98ff98,
        "apple green": #8db600,
        "battleship grey": #848482,
        "olive": #808000,
        "kelly green": #4cbb17,
        "army green": #4b5320,
        "spring green": #00ff7f,
        "office green": #008000
      ),
      green: (
        "inchworm": #b2ec5d,
        "lawn green": #7cfc00,
        "celadon": #ace1af,
        "pastel green": #77dd77,
        "pistachio": #93c572,
        "dollar bill": #85bb65,
        "asparagus": #87a96b,
        "camouflage green": #78866b,
        "india green": #138808,
        "fether green": #4caf50,
        "green": #008000,
        "rifle green": #414833
      ),
      green-cyan: (
        "turquoise green": #a0d6b4,
        "aquamarine": #7fffd4,
        "clover": #00ff6f,
        "ash grey": #b2beb5,
        "cambridge blue": #a3c1ad,
        "caribbean green": #00cc99,
        "ebony": #555e50,
        "emerald": #50c878,
        "hunter green": #355e3b,
        "mint": #3eb489,
        "sea green": #2e8b57,
        "jade": #00a86b,
        "xanadu": #738678,
        "tropical rain forest": #00755e,
        "guppie green": #00ff7f,
        "cadmium green": #006b3c,
        "bottle green": #006a4e,
        "forest green": #014421,
        "british racing green": #004225,
        "ao": #008000,
        "warm black": #004242
      ),
      cyan: (
        "bubbles": #e7feff,
        "fether cyan": #00bcd4,
        "cyan": #00ffff,
        "columbia blue": #9bddff,
        "baby blue": #89cff0,
        "sky blue": #87ceeb,
        "pastel blue": #aec6cf,
        "turquoise": #30d5c8,
        "cerulean": #007ba7,
        "fether teal": #009688,
        "teal": #008080,
        "pine green": #01796f
      ),
      cyan-blue: (
        "alice blue": #f0f8ff,
        "baby blue eyes": #a1caf1,
        "carolina blue": #99badd,
        "iceberg": #71a6d2,
        "cornflower blue": #6495ed,
        "blue grey": #607d8b,
        "blue-grey": #607d8b,
        "united nations blue": #5b92e5,
        "bleu de france": #318ce7,
        "azure": #007fff,
        "air force blue": #5d8aa8,
        "glaucous": #6082b6,
        "steel blue": #4682b4,
        "denim": #1560bd,
        "cadet": #536878,
        "cobalt": #0047ab,
        "yale blue": #0f4d92,
        "teal blue": #367588,
        "teal-blue": #367588,
        "charcoal": #36454f,
        "arsenic": #3b444b,
        "teal green": #006d5b,
        "teal-green": #006d5b,
        "aqua": #00ffff,
        "turquoise blue": #00ffef,
        "turquoise-blue": #00ffef,
        "blue green": #0d98ba,
        "blue-green": #0d98ba,
        "cg blue": #007aa5,
        "cool black": #002e63,
        "oxford blue": #002147
      ),
      blue: (
        "ghost white": #f8f8ff,
        "lavender blue": #ccccff,
        "lavender gray": #c4c3d0,
        "beau blue": #bcd4e6,
        "powder blue": #b0e0e6,
        "blizzard blue": #ace5ee,
        "blue bell": #a2a2d0,
        "manatee": #979aaa,
        "ceil": #92a1cf,
        "cool grey": #8c92ac,
        "celestial blue": #4997d0,
        "summer sky": #38b0de,
        "ball blue": #21abcd,
        "fether blue": #2196f3,
        "blue": #0000ff,
        "cerulean blue": #2a52be,
        "tiffany blue": #0abab5,
        "sea blue": #006994,
        "royal azure": #0038a8,
        "international klein blue": #002fa7,
        "capri": #00bfff,
        "duke blue": #00009c,
        "ultramarine": #120a8f,
        "navy blue": #000080,
        "midnight blue": #191970,
        "sapphire": #082567,
        "brandels blue": #0070ff,
        "royal blue": #002366,
        "new midnight blue": #00009c
      ),
      blue-magenta: (
        "lavender": #b57edc,
        "purple": #9c27b0,
        "fether violet": #ee82ee,
        "violet": #8f00ff,
        "blue violet": #8a2be2,
        "blue-violet": #8a2be2,
        "purple heart": #69359c,
        "violet blue": #324ab2
      ),
      magenta: (
        "magenta": #ff00ff,
        "pastel violet": #cb99c9,
        "pastel purple": #b39eb5,
        "byzantine": #bd33a4,
        "plum": #8e4585,
        "byzantium": #702963
      ),
      magenta-pink: (
        "lavender blush": #fff0f5,
        "classic rose": #fbcce7,
        "pastel magenta": #f49ac2,
        "sky magenta": #cf71af,
        "eggplant": #614051,
        "mauve": #e0b0ff,
        "purple taupe": #50404d,
        "thistle": #d8bfd8,
        "brilliant lavender": #f4bbff,
        "brilliant rose": #ff55a3,
        "cerise pink": #ec3b83,
        "fuchsia": #c154c1,
        "hot magenta": #ff1dce,
        "old lavender": #796878,
        "taupe grey": #8b8589,
        "violet red": #d02090,
        "violet-red": #d02090
      ),
      pink: (
        "pastel pink": #ffd1dc,
        "fether pink": #e91e63,
        "pink": #ffc0cb,
        "cherry blossom pink": #ffb7c5,
        "neon pink": #ff6ec7,
        "flamingo pink": #fc8eac,
        "blush": #de5d83,
        "cherry": #de3163,
        "raspberry": #e30b5d,
        "ruby": #e0115f,
        "burgundy": #800020,
        "antique fuchsia": #915c83,
        "brick red": #cb4154,
        "brink pink": #fb607f,
        "carnation pink": #ffa6c9,
        "cerise": #de2163,
        "dusty rose": #856363,
        "hot pink": #ff69b4,
        "mauvelous": #ef98aa,
        "mauve taupe": #915f6d,
        "salmon pink": #ff91a4,
        "salmon-pink": #ff91a4,
        "twilight lavender": #8a496b
      ),
      pink-red: (
        "bubble gum": #ffc1cc,
        "amaranth": #e52b50,
        "bazaar": #98777b,
        "alizarin": #e32636,
        "crimson": #dc143c,
        "cadmium red": #e30022,
        "cardinal": #c41e3a,
        "cordovan": #893f45,
        "carmine": #960018,
        "rosewood": #65000b,
        "wine": #722f37
      ),
      pale: (
        "pale aqua": #bcd4e6,
        "pale blue": #afeeee,
        "pale brown": #987654,
        "pale carmine": #af4035,
        "pale cerulean": #9bc4e2,
        "pale copper": #da8a67,
        "pale gold": #e6be8a,
        "pale goldenrod": #eee8aa,
        "pale green": #98fb98,
        "pale lavender": #dcd0ff,
        "pale magenta": #f984e5,
        "pale pink": #fadadd,
        "pale plum": #dda0dd,
        "pale turquoise": #afeeee,
        "pale violet red": #db7093
      ),
      light: (
        "light blue": #03a9f4,
        "light brown": #b5651d,
        "light cyan": #e0ffff,
        "light goldenrod": #eedd82,
        "light goldenrod yellow": #eedd82,
        "light khaki": #f0e68c,
        "light pink": #ffb6c1,
        "light sea green": #20b2aa,
        "light sky blue": #87cefa,
        "light slate blue": #8470ff,
        "light steel blue": #545454,
        "light wood": #856363,
        "light yellow": #ffffe0
      ),
      medium: (
        "medium blue": #0000cd,
        "medium brown": #804000,
        "medium forest green": #dbdb70,
        "medium goldenrod": #eaeaae,
        "medium orchid": #ba55d3,
        "medium purple": #9370db,
        "medium sea green": #3cb371,
        "medium spring green": #00fa9a,
        "medium slate blue": #7b68ee,
        "medium turquoise": #70dbdb,
        "medium violet red": #db7093,
        "medium wood": #a68064
      ),
      dark: (
        "dark orchid": #9932cc,
        "dark sea green": #8fbc8f,
        "dark slate blue": #483d8b,
        "dark slate grey": #2f4f4f,
        "dark wood": #855e42,
        "dark candy apple red": #a40000,
        "dark sienna": #3c1414,
        "dark salmon": #e9967a,
        "dark coral": #cd5b45,
        "dark chestnut": #986960,
        "dark tangerine": #ffa812,
        "dark orange": #ff8c00,
        "dark brown": #654321,
        "dark lava": #483c32,
        "dark goldenrod": #b8860b,
        "dark tan": #918151,
        "dark khaki": #bdb76b,
        "dark pastel green": #03c03c,
        "dark olive green": #556b2f,
        "dark spring green": #177245,
        "dark green": #013220,
        "dark jungle green": #1a2421,
        "dark cyan": #008b8b,
        "dark slate gray": #2f4f4f,
        "dark pastel blue": #779ecb,
        "dark cerulean": #08457e,
        "dark midnight blue": #003366,
        "dark powder blue": #003399,
        "dark blue": #00008b,
        "dark pastel purple": #966fd6,
        "dark lavender": #734f96,
        "dark violet": #9400d3,
        "dark magenta": #8b008b,
        "dark byzantium": #5d3954,
        "dark raspberry": #872657,
        "dark pink": #e75480,
        "dark scarlet": #560319,
        "dark terra cotta": #cc4e5c
      ),
      bright: (
        "bright green": #66ff00,
        "bright turquoise": #08e8de,
        "bright lavender": #bf94e4,
        "bright ube": #d19fe8,
        "bright pink": #ff007f,
        "bright maroon": #c32148,
        "bright cerulean": #1dacd6,
        "bright gold": #d9d919
      ),
      deep: (
        "deep carmine": #a9203e,
        "deep carmine pink": #ef3038,
        "deep coffee": #704241,
        "deep khaki": #bdb76b,
        "deep magenta": #cc00cc,
        "deep orange": #ff5722,
        "deep pink": #ff1493,
        "deep purple": #673ab7,
        "deep saffron": #ff9933,
        "deep sky blue": #00bfff
      ),
      electric: (
        "electric green": #00ff00,
        "electric indigo": #6f00ff,
        "electric lavender": #f4bbff,
        "electric lime": #ccff00,
        "electric purple": #bf00ff,
        "electric violet": #8f00ff,
        "electric yellow": #ffff00
      ),
      fluorescent: (
        "fluorescent orange": #ffbf00,
        "fluorescent pink": #ff1493,
        "fluorescent yellow": #ccff00
      ),
      social: (
        "behance blue": #1769ff,
        "dropbox blue": #007ee5,
        "eton blue": #96c8a2,
        "facebook blue": #3b5998,
        "facebook medium blue": #6d84b4,
        "facebook light blue": #afbdd4,
        "facebook lighter blue": #d8dfea,
        "flickr pink": #ff0084,
        "foursquare blue": #0072b1,
        "github black": #000000,
        "google plus red": #dd4b39,
        "instagram blue": #4c68d7,
        "instagram maroon": #cd486b,
        "instagram orange": #fbad50,
        "instagram purple violet": #8a3ab9,
        "instagram red orange": #e95950,
        "instagram red violet": #bc2a8d,
        "instagram yellow": #fccc63,
        "linkedin blue": #007bb5,
        "quora burgundy": #a82400,
        "pinterest red": #cb2027,
        "reddit light blue": #cee3f8,
        "reddit medium blue": #5f99cf,
        "reddit orange": #ff4500,
        "rss orange": #ff6600,
        "snapchat yellow": #fffc00,
        "spotify green": #00e461,
        "tumblr dark turquoise": #32506d,
        "twitter blue": #0084b4,
        "twitter logo blue": #00aced,
        "twitter verified blue": #1dcaff,
        "twitter bg blue": #c0deed,
        "vimeo blue": #45bbff,
        "vimeo brown": #ccaa55,
        "vimeo green": #aad450,
        "vimeo grey": #99aabb,
        "vimeo magenta": #f49ac1,
        "vimeo mint": #66cc99,
        "vimeo orange": #ff8a3c,
        "vimeo pink": #f27490,
        "vimeo powder blue": #d1eef7,
        "vimeo purple": #c09eda,
        "vimeo red": #fc575e,
        "vimeo sky blue": #90d5ec,
        "vimeo yellow": #f7b42c,
        "vine green": #00bf8f,
        "vk blue": #45668e,
        "whatsapp green": #4dc247,
        "youtube grey": #282828,
        "youtube red": #ff0000
      ),
      unsorted: (
        "awesome": #ff2052,
        "outer space": #414a4c,
        "stormcloud": #008080,
        "sunglow": #ffcc33,
        "amethyst": #9966cc,
        "carnelian": #b31b1b,
        "sandy brown": #f4a460,
        "sandy taupe": #967117,
        "slate blue": #6a5acd,
        "slate grey": #708090,
        "smokey topaz": #933d41,
        "topaz": #ffc87c,
        "american rose": #ff033e,
        "coral pink": #f88379,
        "fern": #71bc78,
        "fern green": #4f7942,
        "heliotrope": #df73ff,
        "ginger": #b06500,
        "indigo": #3f51b5,
        "iris": #5a4fcf,
        "jasmine": #f8de7e,
        "jungle green": #29ab87,
        "lilac": #c8a2c8,
        "moss green": #addfad,
        "periwinkle": #ccccff,
        "phlox": #df00ff,
        "rose": #ff007f,
        "true iris blue": #03b4cc,
        "tumbleweed": #deaa88,
        "wenge": #645452,
        "cool cooper": #d98719,
        "css gold": #cc9900,
        "green cooper": #856363,
        "gold": #ffd700,
        "old gold": #cfb53b,
        "almond": #efdecd,
        "bakers chocolate": #5c3317,
        "banana mania": #fae7b5,
        "blanched almond": #ffebcd,
        "boysenberry": #873260,
        "candy pink": #e4717a,
        "cotton candy": #ffbcd9,
        "honeydew": #f0fff0,
        "lemon chiffon": #fffacd,
        "melon": #fdbcb4,
        "mulberry": #c54b8c,
        "papaya whip": #ffefd5,
        "bondi blue": #0095b6,
        "cadet blue": #5f9ea0,
        "cadet grey": #91a3b0,
        "cal poly pomona green": #1e4d2b,
        "charleston green": #232b2b,
        "dodger blue": #1e90ff,
        "mandarian orange": #8e2323,
        "persian blue": #1c39bb,
        "persian indigo": #32127a,
        "persian orange": #d99058,
        "persian pink": #f77fbe,
        "persian plum": #701c1c,
        "persian red": #cc3333,
        "persian rose": #fe28a2,
        "vegas gold": #c5b358
      )
    )
  )
);
$fether: map-merge($fether, $setPalette);
